.mainModalHeader{
    background-color:rgb(30, 34, 34);
    border: 3px solid rgb(255, 85, 0);
}
.mainModalHeader h1{
    font-size:60px;
    font-style: italic;
    margin-right: 10%;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px rgb(72,181,140), 0 0 30px rgb(72,181,140), 0 0 40px rgb(72,181,140), 0 0 55px rgb(72,181,140), 0 0 75px rgb(72,181,140);
}
.mainModalHeader span{
    color: rgb(255,85,0);
    font-style: italic;
    font-weight: bold;
}
.mainModalHeader a , .mainModalHeader h3 {
    position: relative;
    float: right;
    margin-right: 2%;
    margin-top: -7%;
    text-decoration: none;
    color: white;
    font-size: 26px;
}
.mainModalHeader a:hover{
    color: rgb(255,85,0); 
}
.sat{
    position: relative;
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 26px;
}