.RokovnikModal{
    color: white;
}
.RokovnikModal button{
    position: relative;
    float: right;
}
.RokovnikModal input{
    position: relative;
    float: left;
    width: 65%;
    font-size: 24px;
}
#dugmeDodajStavku{
    background-color: rgb(30,34,34);
    text-decoration-line: none;
    color: white;
    font-size: 24px;
    transition: all 500ms;
    border-top: solid rgb(70, 73, 74) 3px;
    border-bottom: solid rgb(70, 73, 74) 3px;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    text-align: center;
    width: 15%;
    margin-right: 10%;
    cursor: pointer;
}
#dugmeDodajStavku:hover,#dugmeIzbrisiSveStavke:hover{
    border-color:red; 
    color:white;
}
#dugmeIzbrisiSveStavke{
    position: absolute;
    bottom: 2%;
    right: 1%;
    background-color: rgb(30,34,34);
    color: white;
    font-size: 24px;
    transition: all 500ms;
    border-top: solid rgb(70, 73, 74) 3px;
    border-bottom: solid rgb(70, 73, 74) 3px;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    text-align: center;
    width: 15%;
    cursor: pointer;
}
.RokovnikModal ul{
    list-style-type: none;
}
.RokovnikModal li{
    position: relative;
    max-width: 95%;
    height: auto;
    padding: 5px;
    margin-top: 10px;
    border-top: solid red 1px;
    border-bottom: solid red 1px;
    border-radius: 5px;
    font-size: 24px;
    font-style: italic;
    color: white;
    text-align: left;
}
.RokovnikModal li em{
width: 10%;
position: relative;
float: right;  
transition: all 500ms;
cursor: pointer; 
}